@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// header
.header {
  height: 74px;
  background-color: $beige;
}

.header__inner {
display: flex;
height: inherit;
}

.header__name {
  height: inherit;

}

.header__nav {
display: flex;
height: inherit;
}

.header__items {
display: flex;
height: inherit;
}

.header__item {

}

.header__link {

}

.header__contact {

}

.contact-button {

}
// コーディング動画を見てからやってみようと思いましたが、cssになった途端に何を書けばいいのかわからない状態になりました。頭の中真っ白です。


// common parts
.inner {
  max-width: 1080px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 25px;
  @include mq("md") {
    padding-inline: 15px;
  }
}

.heading {
  position: relative;
  font-size: 36px;
  font-weight: $medium;
  letter-spacing: 0.05em;
  color: $green;
  padding-bottom: 16px;
}

.heading::after {
  position: absolute;
  background-color: $green;
  width: 34px;
  height: 4px;
  content: "";
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.heading.heading--center {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}
// transformはYが縦でxが横ではないのか？
.heading.heading--center::after {
  left: 50%;
  transform: translateX(-50%);
  @include mq("md") {
    left: 0;
    transform: translateX(0);
  }
}

.text {
  font-size: 16px;
  font-weight: $medium;
  line-height: 1.875;
  letter-spacing: 0.05em;
  color: $green;
}

.text.text--large {
  font-size: 24px;
  line-height: 1.833;
  
  @include mq("md") {
    font-size: 20px;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 15.5px 34.5px;
  letter-spacing: 0.05em;
  background-color: $green;
  border-radius: 4px;
  color: $white;
  transition: background-color 0.3s;
  &:hover{
    opacity: 1;
    background-color: $green;
  }
}

.contact-button.contact-button--large {
  // display: flex;
  // align-items: center;f
  // justify-content: center;
  width: 220px;
  padding: 15.5px 47.5px;
  background-color: $green;
}

// line-heightは小数点（相対値）で書くことでフォントサイズが変化するとline-heightも勝手に変化する

// bemで記述するときにはclass="heading heading--center"という書き方をするときにはcssは

// .heading.heading--centerという間にスペースを入れない書き方をする
// ボタンはwidth固定の場合はheightは固定にすると文字数が増えたときに表示崩れの元になるのでheightは指定しない。
.md-none {
  @include mq("md") {
    display: none;
  }
}

.md-show {
  display: none;

  @include mq("md") {
    display: block;
  }
}
