@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 74px;
  background-color: $beige;
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 0 120px;
  height: inherit;
  @include mq("lg") {
    padding-inline: 25px;
  }
  @include mq("md") {
    padding-inline: 15px;
  }
}
// header__innerは画面幅変化してナビゲーションメニューが消えない。なぜ？
.header__name {
  font-size: 26px;
  font-weight: $medium;
  height: inherit;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: $green;
  @include mq("md") {
    font-size: 24px;
  }
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 66px;
  height: inherit;
}

.header__link {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: $medium;
  color: $green;
  letter-spacing: 0.05em;
  height: inherit;
}

.header__contact {
  margin-left: 66px;
}

// hamburger-menu
.hamburger {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}
// ↑のwidth,heightの数値はどこからきた？

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  transition: transform 0.3s;
  background-color: $green;
}
// ↑この時点で画面に線が出てきた。

.hamburger.is-active {
  right: 30px;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 8px;
  transition: opacity 0.3s;
}
.hamburger span:nth-child(3) {
  top: 16px;
}
// ↑は書きながら随時変化を確認。いや、リアルタイムか。

.hamburger.is-active span:nth-child(1) {
  top: 15px;
  transform: rotate(-45deg);
}
.hamburger.is-active span:nth-child(2) {
  top: 15px;
  // transition: opacity 0;
  opacity: 0;
}
.hamburger.is-active span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
}

// drawer-menu
.drawer-menu {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: $beige;
}

.drawer-menu__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}

.drawer-menu__items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drawer-menu__item {
display: inline-block;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 50px;
}

.drawer-menu__link {
  font-size: 16px;
  color: $green;
  font-weight: $medium;
  letter-spacing: 0.05em;
  
}

.drawer-menu__contact {
  margin-top: 50px;
}




// common parts
.inner {
  max-width: 1080px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 25px;
  @include mq("md") {
    padding-inline: 15px;
  }
}

.heading {
  position: relative;
  font-size: 36px;
  font-weight: $medium;
  letter-spacing: 0.05em;
  color: $green;
  padding-bottom: 16px;
}

.heading::after {
  position: absolute;
  background-color: $green;
  width: 34px;
  height: 4px;
  content: "";
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.heading.heading--center {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}
// transformはYが縦でxが横ではないのか？
.heading.heading--center::after {
  left: 50%;
  transform: translateX(-50%);
  @include mq("md") {
    left: 0;
    transform: translateX(0);
  }
}

.text {
  font-size: 16px;
  font-weight: $medium;
  line-height: 1.875;
  letter-spacing: 0.05em;
  color: $green;
}

.text.text--large {
  font-size: 24px;
  line-height: 1.833;

  @include mq("md") {
    font-size: 20px;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 15.5px 34.5px;
  letter-spacing: 0.05em;
  background-color: $green;
  border-radius: 4px;
  color: $white;
  transition: background-color 0.3s;
  &:hover {
    opacity: 1;
    background-color: $green;
  }
}

.contact-button.contact-button--large {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 220px;
  padding: 15.5px 47.5px;
  background-color: $green;
}

.md-none {
  @include mq("md") {
    display: none;
  }
}

.md-show {
  display: none;

  @include mq("md") {
    display: block;
  }
}
