@use "sass:math";
// 文字フォントの種類
$base-font: "Roboto", "Noto Sans JP", sans-serif;
// robotoは英語フォント noto sans jpは日本語フォント sans-serifはどちらも適用されないときに適用されるもの

// 文字の太さ
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// "Roboto", sans-serif;
//  "Noto Sans", sans-serif;